mtcnn
ipykernel
tensorflow==2.2.0
uvicorn
fastapi
#ca-certificates
certifi
#openssl
numpy<1.20
wget
tqdm
pandas<1.2
deprecated
gdown
pillow
matplotlib
retina-face
dlib==19.24.2
scikit-learn
scipy>=1.10
python-multipart
pre-commit
mlflow
optuna
dvc
protobuf==3.20.*
./dependencies/deepface-50105b21e6bd2c5d490483558b78a92701539752.zip